/* ==========================================================================
   Globals
   ========================================================================== */

 //==========margin area ===================
$scu-margins:                           (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80) !default;

//==========font size===============
$font-sx:12px;
$font-small:14px;
$font-normal:16px;
$font-large:20px;

//=========color ================
$red:rgb(240,80,80);
$blue:rgb(12,137,234);
$bg:rgb(110,210,196);
$word-c:rgb(163,163,169);



