extends ../layout

block content
	body.login_page 
		.login-wrapper
			.login.loginpage.col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.mt-30
				form(action='/users/login',method='post',enctype="multipart/form-data")
					.form-group
						label.form-group 手机号
						.controls
							input.form-control(name='user[MobileNo]') 
					.form-group
						label.form-group 密  码
						.controls
							input.form-control(type='password',name='user[LoginPwd]')
							input(type='hidden',name='user[UserTypeID]',value='#{UserTypeID}')
							input(type='hidden',name='user[SchoolID]',value='0')
							.error-info.font-normal #{errMsg}
					p.mt-40
						input.btn.btn-warning.btn-corner.btn-block(type='submit',value='登录')