extends ../layout
block content
	body.main-container
		.container-fluid
			iframe(height='100%',width='100%',src="http://player.youku.com/embed/XMTI5MDk1NzE3Ng==",frameborder='0',allowfullscreen)
			//- <iframe height=498 width=510 src="http://player.youku.com/embed/XMTI5MDk1NzE3Ng==" frameborder=0 allowfullscreen></iframe>
